body {
    font-size: 15pt;
    height: 100px;
}

img {
    pointer-events: none;
}

.responsive {
  width: 100%;
  height: auto;
}


/********************
     first button
*********************/
.btn-solid-lg {

	display: inline-block;

	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #000000;
	border-radius: 0.25rem;
	background-color: #111111;
	color: #fff;
	font: 900 0.95rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.6s;
}

.btn-solid-lg:hover {
	background-color: #ffffff;
	color: #000000;
	text-decoration: none;
}

/********************
.   second button
*********************/
.btn-solid-lg-2 {

	display: inline-block;

	padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #fff;
	border-radius: 0.25rem;
	background-color: #C5C6C7;
	color: #000000;
	font: 900 0.95rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.4s;
}

.btn-solid-lg-2:hover {
	background-color: #3F3F3F;
	color: #fff;
	text-decoration: none;
}

/***********************
.     thirt button
************************/
.btn-solid-lg-3 {
  width: 120px;
  height: 40px;
	display: inline-block;
  padding: 1.375rem 2.125rem 1.375rem 2.125rem;
	border: 0.125rem solid #000;
	border-radius: 0.25rem;
	background-color: #fff;
	color: #000;
	font: 1000 0.95rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.4s;
}

.btn-solid-lg-3:hover {
	background-color: #616161;
	color: #fff;
	text-decoration: none;
}



/*
 new file from here
*/
#header h1 span {
  color: none;
  border-bottom: 2px solid #666666;
  padding-bottom: 6px;
}

#name p span {
  color: none;
  border-bottom: 1px solid #888888;
  padding-bottom: 2px;
}

#foot a span {
  color: none;
  border-bottom: 1px solid #919191;
  padding-bottom: 2px;
}


.section-title h3 {
  font-size: 20px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #666666;
  font-family: "Poppins", sans-serif;
}

.section-title h3::after {
  content: "";
  width: 150px;
  height: 1px;
  display: inline-block;
  background: #aaaaaa;
  margin: 4px 10px;
}

/*
********** btn-foot senction ***********
*/

.btn-footer {

	display: inline-block;

	/*padding: 1.375rem 2.125rem 1.375rem 2.125rem;*/
	/*border: 0.125rem solid #fff;
	border-radius: 50px;
	background-color: #DEDEDE;*/
	color: #919191;
	font: 800 1.30rem/0 "Montserrat", sans-serif;
	text-decoration: none;
	transition: all 0.5s;
}

.btn-footer:hover {
	/*background-color: #3F3F3F;*/
	color: #000;
	text-decoration: none;
}


/*
******** Back To Top Buttoon ********
*/

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 999; /* Make sure it does not overlap */
  width: 2.625rem;
  height: 2.625rem;
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background: #6E6E6E url("img/up-arrow.png") no-repeat center 47%; /* Set a background color */
  background-size: 1.125rem 1.125rem;
  color: #000; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 1.875rem; /* Rounded corners */
  font-size: 15px; /* Increase font size */
  transition: all 0.8s;
  text-indent: -9999px;
  opacity: 90%;
  border: 0.125rem solid #CCCCCC;
}

#myBtn:hover {
  color: #fff;
  background-color: #212121; /* Add a color background on hover */
  opacity: 100%;
  border: 0.125rem solid #7E7E7E
}